@charset "utf-8";
/* globals*/
*{ margin:0; padding:0;color:#555; }
body{ background:#fff;}
ul{ list-style:none; }
img{ border:0; }
img, input, select{ vertical-align:middle; }
table{ border-collapse:collapse; width:100%; }
.clear:before, .clear:after{ display:table; line-height:0; content:''; }
.clear:after, .head:after{ clear:both; }
.left{ float:left; }
.right{ float:right; }
.c, .center{ text-align:center; }
.hander{ cursor:pointer; }
.hidden{ display:none; }
.box{ padding:10px; }

/* table */
.tl, .tl tr, .tl th, .tl td{ border:#dfd7ca solid 1px;font-size:12px; }
.tl th{ padding:8px 0; background:#f8f5f0; }
.tl th, .tl th a{ color:#98978b; text-decoration:none; }
.tl td{ padding:8px 5px; }
.tl tr:hover{ background:#fcf8e3; }
.tl a{ color:#06c; text-decoration:none; }
.ti{ border:#ddd solid 1px;font-size:12px; }
.ti td{ padding:8px 5px; }
.ti .r{ background:#f8f5f0; }
.ti .k{ width:100px; text-align:right; }
.ti .v{ width:18%; }
.ti input[type='text']{ height:24px; width:95%; border:#dfd7ca solid 1px; padding:0 3px; }
.ti select{ height:26px; width:95%; border:#dfd7ca solid 1px; }
.ti textarea{ width:95%; border:#dfd7ca solid 1px; padding:3px; }
/* field */
.fcet{ text-align:center; overflow:hidden; }
.frig{ text-align:right; overflow:hidden; }
.fid{ width:60px; text-align:center; overflow:hidden; }
.fsku{ width:45px; text-align:center; overflow:hidden; }
.fchk{ width:25px; text-align:center; overflow:hidden; }
.fmod{ width:120px; text-align:center; overflow:hidden; }
.fspe{ width:120px; text-align:center; overflow:hidden; }
.fbra{ width:120px; text-align:center; overflow:hidden; }
.fven{ width:70px; text-align:center; overflow:hidden; }
.fpri{ width:70px; text-align:right; overflow:hidden; }
.fint{ width:45px; text-align:center; overflow:hidden; }
.fsor{ width:45px; text-align:center; overflow:hidden; }
.fdat{ width:80px; text-align:center; overflow:hidden; }
.ftim{ width:115px; text-align:center; overflow:hidden; }
.fmob{ width:60px; text-align:center; overflow:hidden; }
.fpho{ width:80px; text-align:center; overflow:hidden; }
.ffax{ width:80px; text-align:center; overflow:hidden; }
.fema{ width:110px; text-align:center; overflow:hidden; }
.fpos{ width:40px; text-align:center; overflow:hidden; }
.fusr{ width:60px; text-align:center; overflow:hidden; }
.fcod{ width:70px; text-align:center; overflow:hidden; }
.fsta{ width:60px; text-align:center; overflow:hidden; }
.fbol{ width:50px; text-align:center; overflow:hidden; }
.ftyp{ width:100px; text-align:center; overflow:hidden; }
.fopr{ width:55px; text-align:center; overflow:hidden; }
.fip{ width:60px; text-align:center; overflow:hidden; }
.funi{ width:45px; text-align:center; overflow:hidden; }
.fbrs{ width:62px; text-align:center; overflow:hidden; }
.fnid{ width:45px; text-align:center; overflow:hidden; }

/* upload */
.upbtn{position:relative;padding:3px;font-size:12px;color:#fff;vertical-align:middle;cursor:pointer;background:#5bb75b;border:0;border-radius:2px;}
.upbtn input[type='file']{position:absolute;top:0;right:0;margin:0;border:solid transparent;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;cursor:pointer;}
.updel{position:relative;padding:3px;font-size:12px;color:#fff;vertical-align:middle;cursor:pointer;background:#d95c4f;border:0;border-radius:2px;}
#showpic img{width:180px;height:120px;}

.copyright{border:#ddd solid 1px;padding:5px;width:99%;overflow-y:visible;text-align:center;}

.auto{ display: block; max-width: 100%; height: auto; }


/* page a4 */
.pagebg{background:#e6e6e6;}
.pagea4{width:796px;border:#fff solid 1px;background:#fff;} /* width:210mm=796px, height:297mm=1126px radio:3.79 */
.pagea4block{margin:96px 120px;} /* 25.4mm=96px 31.8mm=120px */
.pagea4info{margin:38px 57px;} /* 10mm=38px; 15mm=57px */

.pa4-redline{border-bottom:#f00 solid 3px;margin-top:5px;}
.pa4-caption1{text-align:center;font-size:34px;margin-bottom:20px;color:#f00;}
.pa4-title1{text-align:center;font-size:28px;margin-top:15px;margin-bottom:20px;padding-left:18%;padding-right:18%;}
.pa4-company{margin-top:5px;margin-bottom:5px;}
.pae4-text1{border:0;background:#f8f8f8;padding:5px;font-size:14px;letter-spacing:2px;}
.pa4-textarea1{width:95%;border:0;background:#f8f8f8;padding:5px;line-height:150%;font-size:14px;letter-spacing:2px;}
.pa4-attachment1{margin-top:30px;}
.pa4-sign1{margin-top:80px;margin-bottom:80px;}
.pa4-signer1{float:right;text-align:center;line-height:150%;}

.pagedialog{margin:5px;}
.pagedialog-caption{color:#f00;margin-bottom:5px;padding-bottom:5px;border-bottom:#c6c6c6 solid 1px;}
.pagedialog-textarea{width:98%;border:0;background:#f8f8f8;padding:5px;}
.pagedialog-buttons{text-align:center;}
.pagedialog-buttons .btn{display:inline-block;border:#c6c6c6 solid 1px;padding:0 10px;margin:0 20px;text-decoration:none;border-radius:3px;cursor:pointer;}

.plbox{border:#ddd solid 1px;border-bottom:0;font-size:12px;}
.plbox a{color:#337ab7;text-decoration: none;}
.plbox .row{border-bottom:#ddd dotted 1px;}
.plbox .item{padding:8px 15px;}
.plbox .item:hover{ background:#fcf8e3;}
.plbox .state{display: inline-block;width:60px;color:#d95c4f;text-align: center;}

.tx1,.tx1 thead,.tx1 tbody,.tx1 tfoot{border:#000 solid 1px;font-size:12px;}
.tx1 tr,.tx1 thead tr,.tx1 tbody tr,.tx1 tfoot tr{border:#000 solid 1px;}
.tx1 td,.tx1 thead td,.tx1 tbody td,.tx1 tfoot td{border:#000 solid 1px;padding: 3px;}
.tx1 .c,.tx1 tbody .c,.tx1 thead td{text-align:center;}
.tx1 .w{width:99%;}

.att{margin-top:30px;}
.atts,.atts a{margin:2px 0 ;font-size:12px;}
.atts li{padding:2px 0;}

.up { position: relative; overflow: hidden;  display: inline-block; *display: inline; padding: 2px 10px; font-size: 12px; line-height: 18px; *line-height: 20px; color: #fff; text-align: center; vertical-align: middle; cursor: pointer; background: #5bb75b; border: #5bb75b 1px solid; border-radius: 3px; }
.up input[type='file'] { position: absolute; top: 0; right: 0; margin: 0; border: solid transparent; filter: alpha(opacity=0); -moz-opacity: 0; opacity: 0; cursor: pointer; }
.upd { position: relative; overflow: hidden;  display: inline-block; *display: inline; padding: 2px 10px; font-size: 12px; line-height: 18px; *line-height: 20px; color: #fff; text-align: center; vertical-align: middle; cursor: pointer; background: #f47c3c; border: #f47c3c 1px solid; border-radius: 3px; }

.print_tool{background:#ccc;padding:10px;font-size:12px;}
.print_tool a{display: inline-block;font-size:12px;border:#333 solid 1px;background:#f8f8f8;padding:5px 8px;border-radius:3px;margin-right:8px;text-decoration:none;}